In [1]:
import pandas as pd

In [3]:
profile = pd.read_excel('datasets/alunos/profiles.xlsx')

In [7]:
profile.head()

,NOME:,IDADE,REGIAO RESIDÊNCIA,FORMAÇÃO ACADÊMICA:,JÁ UTILIZOU GIT?,JÁ UTILIZOU PANDAS?,JÁ UTILIZOU NUMPY?
0,939065eece719c2e24382f347e0395ab9aa3f4933249c3...,<30,Sul/Sudeste,NaN,NÃO,NÃO,NÃO
1,f5e39c38b5d7ae57a67a4e533d1c3fbadcbddae039868a...,<30,Sul/Sudeste,Ciências Exatas,SIM,NÃO,NÃO
2,365bea1e0e58d1dd2124f6156f41cf26bde7babc74cbea...,<30,Nordeste,Ciências Exatas,NÃO,SIM,SIM
3,d59df35ac8cca9741c7d14751827a93372178571f12e72...,>=30 e <=40,Sul/Sudeste,Ciências Exatas,SIM,NÃO,NÃO
4,9e5ef9fc98988ed88abae4dcc91ea7b05672e5ea261b5b...,<30,Sul/Sudeste,Ciências Exatas,NÃO,SIM,SIM

In [30]:
import os

def carrega_pasta_csv(path:str) -> pd.DataFrame:
    """
    Carrega todos os arquivos CSV de uma pasta e retorna um DataFrame consolidado.
    Parâmetros:
    path (str): O caminho da pasta contendo os arquivos CSV.
    Retorna:
    pd.DataFrame: Um DataFrame consolidado contendo os dados de todos os arquivos CSV da pasta.
    Exemplo:
    >>> carrega_pasta_csv('/caminho/para/pasta')
    Retorna um DataFrame consolidado com os dados dos arquivos CSV da pasta especificada.
    """

    dados_aulas = []

    for file in os.listdir(path):
        if file.endswith('.csv'):
            df = pd.read_csv(os.path.join(path, file))
            df['data'] = file.split('_')[-1].split('.')[0]
            dados_aulas.append(df)

    dados_aulas = pd.concat(dados_aulas)
    return dados_aulas.reset_index(drop=True)

'03:10:20' => 3h10min20s ==> xxxmin

In [45]:
str = '03:10:20'

In [50]:
#%%timeit

from datetime import datetime

time_obj = datetime.strptime(str, '%H:%M:%S')
minutes = time_obj.hour * 60 + time_obj.minute +time_obj.second/60
print(minutes)

190.33333333333334

In [51]:
#%%timeit
print(sum([int(x[0])*x[1] for x in zip(str.split(':'), [60, 1, 1/60])]))

190.33333333333334

In [31]:
dados_aulas = carrega_pasta_csv(path = os.path.join('datasets', 'alunos'))

In [33]:
dados_aulas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Participant      105 non-null    object
 1   Attendance time  105 non-null    object
 2   Camera time      105 non-null    object
 3   Mic time         105 non-null    object
 4   Time speaking    105 non-null    object
 5   Time presenting  105 non-null    object
 6   Hands raised     105 non-null    int64
 7   Emojis sent      105 non-null    int64
 8   Messages sent    105 non-null    int64
 9   data             105 non-null    object
dtypes: int64(3), object(7)
memory usage: 8.3+ KB